header {
    background-color: #494949;
    color: white;
    text-align: center;
     font-family: 'Courier New', Courier, monospace;
}

p {
    padding: 10px;
    text-align: right;
     font-family:Helvetica, sans-serif;
}

div>section {
    text-align: center;
    font-size: 64px;
    font-family:
        "Trebuchet MS",
        "Lucida Sans Unicode",
        "Lucida Grande",
        "Lucida Sans",
        Arial,
        sans-serif;
}

body {
    background-color: #1c1c1c;
    color:papayawhip;
    font-family: 'Courier New', Courier, monospace;

}

footer {
    width: 100%;
    display: block;
    background-color: #3d3d3d;
    color: white;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.9em;
    float:right;
}



.noticias {
    background-color: rgb(255, 231, 193);
    color: rgb(0, 0, 0);
    text-align: left;
    width: 47%;
    padding: 10px;
    min-height: 400px;
    border-radius: 5%;
    margin: 10px;
    float: left;
    box-sizing: border-box;
}

.recursos {
    float: left;
    box-sizing: border-box;
    background-color: rgb(255, 231, 193);
    color: rgb(0, 0, 0);
    text-align: center;
    width: 47%;
    padding: 10px;
    min-height: 400px;
    border-radius: 5%;
    margin: 10px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: sans-serif;
}

.recursos>h1 {
    color: rgb(0, 0, 0);
    font-size: medium;
}

.noticias>h1 {
    color: rgb(0, 0, 0);
    font-size: medium;
    text-align: center;
}



section > p >a> img
{
    width: 48px;
    height: 51px;
    display: inline;
    padding: 10px;
    margin-inline:  40px;
}


/*CSS de links */
.link {
    background-color: #6f6f6f;
    text-align: center;
    font-size: 100%;
}
.logo{
     background-color: rgb(255, 231, 193);
    font-size: 100%;
      width: 33px;
    height: 36px;
    display: inline-block;
    text-align: center;
    
 
}

#linkV{
 color: #9d41d3;

}
#linkP{
color: #3581e6;
}
#linkS{
color: #dfc906;
}
#Links{
    color: #ffffff;
}
a{
    text-decoration: none;
    color: #e7e7e7;
}

a:link{
color: #d8d8d8;
 font-family:Helvetica, sans-serif;
}
a:active{
       background-color: #d11b1b09;
     color: #ce9ceb;

}
a:hover
{
    background-color: #6f6f6f1a;
    border-radius: 10%;
    text-decoration:underline;
}
a:visited{
 color: #423e3e11;
}

/*Fin de CSS de links */


#h11{
     font-family: 'Courier New', Courier, monospace;
}
.space{
    margin-right: 20px;
  
}




/* Pagina de C# */